{% extends "base.html.twig" %}

{% block title %}Modification du profil utilisateur
{% endblock %}
     
{% block body %}
      {# Affiche les messages flash success #}
      {% for message in app.flashes('success') %}
            <div class="bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700" role="alert">
                  {{ message }}
            </div>
      {% endfor %}

      {# Titre principal de la page #}
      <h2 class="font-medium leading-tight text-4xl mt-10 text-center text-custom-violet">Modification des informations de l'utilisateur</h2>

      {# Bloc modification des informations de l'utilisateur #}
      <div class="flex flex-row justify-center mt-5 mb-10">
            <div class="flex flex-col p-6">
                  <div class="flex justify-center">
                        {# Formulaire de modification du profil utilisateur #}
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                  </div>
            </div>
      </div>
{% endblock %}
