<h1>Confirmation de votre commande</h1>

{# <p>Bonjour, {{ username }} !</p> #}

<h2>Merci pour votre commande sur le site de la Pizzeria SF6 !</h2>

<p>Votre commande {{ reference }} en date du {{ createdAt }} a bien été prise en compte.</p>

<strong>Ceci est un email automatique, merci de ne pas y répondre</strong>

<p>A bientôt sur notre site !</p>