<h1>Confirmation de réinitialisation de mot de passe</h1>

<p>Bonjour, {{ user.username }}, et bienvenue sur le site de la Pizzeria SF6</p>
<p>Veuillez confirmer votre demande de réinitialisation de votre mot de passe en cliquant sur le lien ci-dessous :</p>
<p>Ce lien sera valable jusqu'au <strong>{{ lifeTimeToken }}</strong>, après cette date, il ne sera plus valable.</p>
<p><a href="{{ absolute_url(path('security.password_reset_confirmation', {token : token, id : user.id})) }}">Modifier mon mot de passe</a></p>
<strong>Ceci est un email automatique, merci de ne pas y répondre</strong>

<p>A bientôt sur notre site !</p>