<div class="flex flex-no-wrap items-center justify-between my-5">
      <img class="w-36" src="{{ asset('assets/img/logo_pizza_v1.svg')}}" alt="Logo">
      <nav class="flex ">
            <ul class="flex justiv-evenly flex-no-wrap">
                  <li>
                        <a class="block w-full whitespace-nowrap bg-transparent p-4 text-md text-custom-violet disabled:pointer-events-none" href="{{ path('index') }}">
                              <span class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-500 py-4">Accueil</span>
                        </a>
                  </li>
                  <li>
                        <a class="block w-full whitespace-nowrap bg-transparent p-4 text-md text-custom-violet active:text-neutral-800 active:no-underline disabled:pointer-events-none" href="{{ path('menu') }}">
                              <span class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-500 py-4">Carte</span>
                        </a>
                  </li>
                  <li>
                        <a class="block w-full whitespace-nowrap bg-transparent p-4 text-md text-custom-violet active:text-neutral-800 active:no-underline disabled:pointer-events-none" href="">
                              <span class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-500 py-4">A propos</span>
                        </a>
                  </li>
                  <li>
                        <a class="block w-full whitespace-nowrap bg-transparent p-4 text-md text-custom-violet active:text-neutral-800 active:no-underline disabled:pointer-events-none" href="">
                              <span class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-500 py-4">Contact</span>
                        </a>
                  </li>
            </ul>
      </nav>
</div>
