{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
      <div class="container mx-auto my-10">
            <div class="flex justify-center">
                  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                  </div>
            </div>
      </div>
{% endblock %}
